/* @import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography'; */

/* Global styles */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #1c0333;
  margin: 0;
  padding: 0;
}

/* h1, h2, h3 { */
  /* font-weight: bold;
} */
a {
  text-decoration: none;
  color: #662d90;
}
a:hover {
  color: #d8c0eb;
}