/* @import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography'; */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #d8c0eb;
  color: #662d90;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: bold;
  color: #662d90;
}
a {
  text-decoration: none;
  color: #662d90;
}
a:hover {
  color: #d8c0eb;
}